.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10rem;
  gap: 1rem;
}

.link {
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}
