@use '../../../utils/color_base' as *;

.text-input {
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: text;
  height: 2.2rem;
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;

  padding: 0.1rem;
  background-color: #fff;
  input {
    font-size: 1rem;
    color: #222;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
  }
  input:focus-visible {
    outline: none;
  }
  input::placeholder {
    color: var(--color-grayscale-500);
  }
}
.focus {
  outline: none;
  border: 0.15rem solid var(--color-primary-700);
}

.disabled {
  background-color: var(--color-grayscale-200);
  border: 0.1rem solid var(--color-grayscale-500);
  input {
    color: var(--color-grayscale-600);
  }
}

.error {
  outline: none;
  border: 0.15rem solid var(--color-destructive-600);
}
